@{
    ViewData["Title"] = "SmallHydro";
}

<div class="text-center">
    <h1 class="display-4">Wilkommen in der Mini-Hydro Seite</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="nee-menu">
        <div class="grid-container">

            <div class="grid-item">
                <a href="/Energy/SolarPannel" class="btn btn-light shadow-lg square-button">
                    <img src="~/Ressources/SolarPannel.svg" class="img-fluid mb-2" alt="Photovoltaik" />
                    <p>PV</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="" class="btn btn-light shadow-lg square-button">
                    <img src="~/Ressources/WaterDam.svg" class="img-fluid mb-2" alt="mini-hydr" />
                    <p>Mini-hydro</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="/Energy/WindMill" class="btn btn-light shadow-lg square-button">
                    <img src="~/Ressources/WindMill.svg" class="img-fluid mb-2" alt="Windmaschine" />
                    <p>Windmaschine</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="/Energy/Biogas" class="btn btn-light shadow-lg square-button">
                    <img src="~/Ressources/Biomass.svg" class="img-fluid mb-2" alt="Biogas" />
                    <p>Bio-gas</p>
                </a>
            </div>
        </div>
    </div>
</div>
